/*Validated with no errors found 4/25/2021, but issues with display on all pages due to white border at bottom.*/ 
*{
padding:0; margin:0; box-sizing: border-box;}

.header{
    width:100%;
    height:80px;
    background-color: #ff7c00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width:100%;
    padding: 20px;
    float:right;
    transition: 0.7s;
}

/*Click on hamburger for navigation menu, screen jumps to bottom to show white space, and menu bar opens. Should be that
menu bar slides seamlessly underneath the hamburger menu. Need help fixing this* Code for sidebar starts below.*/

.sidebar{                
    width:10%;
    height:100%;
    position: fixed;
    top: 70px;
    background-color: #ff7c00;
    left: -100%;
    transition: 0.7s;
}

.sidebar ul{
    list-style-type: none;
    background-color: #ff7c00;
    height: 100%;
    position: fixed;
    
}

.sidebar ul li{
    border-bottom:2px solid rgba(255,255,255, .1);

}

.sidebar ul li a{
    display:block;
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 15px 25px;
    transition: 0.4s;
}

.sidebar ul li a:hover{
    border-left: 10px solid white;
}

/* The subnavigation menu */
ul #nested1, ul #nested2, ul #nested3, ul #nested4{
    background-color: #ff7c00;
    display:none;
}
    /*the caret for the dropdown appeared, and added java script. Now that's not functioning properly*/

/*Sub-Menu Navigation Ends Here*/

.show-btn, .hide-btn{
    font-size:35px;
    color: white;
    position: fixed;
    top: 20px;
    left: 50px;
}

.hide-btn{
    opacity: 0;
}

#chk:checked ~ .sidebar{
    left:0;
}

#chk:checked ~ .show-btn{
    opacity:0;
}

#chk:checked ~ .hide-btn{
    opacity:1;
}

#chk:checked ~ .main{
    width:80%;    
}

/*Media Query works perfectly!*/
@media (max-width:768px) {
    .sidebar{
        width: 100%;
        text-align:center;
    }
}