.sidebar{                
    width:10%;
    height:100%;
    position: fixed;
    top: 70px;
    background-color: #ff7c00;
}

.sidebar ul{
    list-style-type: none;
    background-color: #ff7c00;
    height: 100%;
    position: fixed;
}

.sidebar ul li{
    border-bottom:2px solid rgba(255,255,255, .1);
}

.sidebar ul li a{
    display:block;
    text-decoration: none;
    color:white;
    font-size: 10px;
    padding: 15px 25px;
    transition: 0.4s;
}

.sidebar ul li a:hover{
    border-left: 10px solid white;
}

/* The subnavigation menu */


/*Sub-Menu Navigation Ends Here*/

.show-btn, .hide-btn{
    font-size:35px;
    color: white;
    position: fixed;
    top: 20px;
    left: 50px;
}

.hide-btn{
    opacity: 0;
}

#chk:checked ~ .sidebar{
    left:0;
}

#chk:checked ~ .show-btn{
    opacity:0;
}

#chk:checked ~ .hide-btn{
    opacity:1;
}


/*Media Query works perfectly!*/
@media (max-width:768px) {
    .sidebar{
        width: 100%;
        text-align:center;
    }
}