/*Passed Validation Check on 5/2/2021*/

*{
    margin-left: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

@font-face { 
    font-family: 'robotoslab_regular';
    src: url("RobotoSlab-Regular-webfont.woff");
}

/*Grid Layout Start*/

body{ 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 50px 700px 50px;
    grid-template-areas:
    "sidebar     header"
    "sidebar       main"
    "footer      footer";
}
       
.header{
    grid-column: 2 / 3;
    grid-row: 1;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / 4;
}

.main{ 
    grid-column: 2 / 3;
    grid-row: 2 / 3;   
}

.footer{
    grid-column: 1 / 3;
    grid-row: 4;
}
/*End Grid Layout*/

body{
    background-color: #00AACC;
}

.header{
    background-color: #ff7c00;
    border-bottom: 1px solid black;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
}

.header img{
   width:35px;
   height:30px;
   margin-top: 10px;
   margin-right: 20px;
   float: right;   
}

.main img{                      
    display:block;
    margin: auto;
}

h1 {color:#7E11D4; 
    font-family:'robotoslab_regular',sans-serif;
    text-align: center;
    margin: auto;
    width: 50%;
}

h2{
    text-align: center;
    margin: auto;
    width: 50%;
}

h3{text-align: center;
    margin: auto;
    width: 50%;
}

blockquote{
    text-align: center;
    margin: auto;
    width: 50%;
    color: white;
}

.main{
    font-family:'robotoslab_regular';
    justify-content: center; 
    
}

p{  margin:auto;
    width: 50%;
    font-size: 11pt;
    
}

.main p:first-child{font-weight: bold;}

.main p:first-letter{font-size: 150%;}
    p{margin-bottom: 0}
    
    p + p {text-indent: 1.5em;
            margin-top: 0}

.main ul{
    text-align: center;
    list-style-type: none;
    font-size: 12pt;
}

.main a{ 
    text-decoration: none;
    text-align: center;
    display:block;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

video{
    display:block;
    margin: 0 auto;
}

/*Stylings for Project Pages*/
.projects{
    display:block;
}
.projects div{
    padding-bottom: 50px;
}


.container{
    display: block;
    margin-top: 300px;
    margin-left: 450px;
    margin-right: auto;
}

.box{
    display: block;
    margin-left: 450px;
    margin-right: auto;
}

.bottom img{
    display:block;
    height: 450px;
    margin: auto;
    margin-top: 300px;
}

/*Styles for Footer*/
.footer p{
    font-family: 'robotoslab_regular';
    text-align: center;
    position: fixed;
    left: 0;
    font-size: 11pt;
    bottom: 0;
    color: white;
    height: 25px;
    width: 100%;
    background-image: url(images/footer.jpg);
}

.icon { 
    transition: all .4s ease-in; 
}
       
.icon:hover { 
    transform: scale(1.8); 
}


/*Media Queries Section for Tablet View*/

@media (max-width:768px) {
    
    p{
    width: 100%;
    text-align:center;
    }

    .header{
        text-align: center;
        width: 100%;
        height:50px;
    }

    .footer{
        width: 100%;
        text-align:center;
    }


    .main img{
        width: 50%;
        height: auto;
        float:left;
    }

    .bottom img{
        display: block;
        margin: auto;
        margin-top: 300px;
        width: 70%;
        
    }

    video{
        width:50%
    }

    .sidebar{
        width: 100%;
        left:-100%;
        
    }

    .container{
        display: block;
        margin-left: 150px;
        margin-right: auto;
    }

    .box{
        display: block;
        margin-left: 150px;
        margin-right: auto;
    }

}

/*Media Query for Mobile View*/
@media (max-width:425px) {
    

    p{
    width: 100%;
    text-align:center;
    }

    .header{
        text-align: center;
        width: 100%;
        height:60px;
    }

    .footer{
        width: 100%;
        text-align:center;
    }

    h3{
        width:100%;
        text-align: center;
        margin-top: 20px;

    }

    .main img{
        width: 50%;
        height: auto;
        float:left;
    }

    .bottom img{
        display: block;
        width:70%;
        margin: auto;
        margin-top: 450px;
        height: 200px;
    }

    video{
        width:50%
    }

    .sidebar{
        width: 100%;
        left:-100%;
    }

    .container{
        display: block;
        width: 70%;
        margin-left: 25px;
        margin-right: auto;

    }

    .box{
        display:block;
        width: 70%;
        margin-left: 25px;
        margin-right: auto;
    }
}

/*Print Media Query*/

@media print{
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .btn{
        display: none;
    }
    .sidebar{
        display: none;
    }
    
    .header{
        margin-bottom: 0;
        border: none;
        text-align: center;
    }

    .header img{
        display:none;
    }
    
    video{
        display: none;
    }

    a{
        text-decoration: none;
    }
    @page{
        margin: 1in;
    }

    

}


