/*Passed Validation Check on 5/12/21*/

*{
    margin-left: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

@font-face { 
    font-family: 'robotoslab_regular';
    src: url("RobotoSlab-Regular-webfont.woff");
}

/*Grid Layout Start*/

body{ 
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 50px 700px 50px;
    grid-template-areas:
    "sidebar     header"
    "sidebar       main"
    "footer      footer";
}
       
.header{
    grid-column: 2 / 3;
    grid-row: 1;
}

.sidebar{
    grid-column: 1;
    grid-row: 1 / 4;
}

.main{ 
    grid-column: 2 / 3;
    grid-row: 2 / 3;   
}

.footer{
    grid-column: 1 / 3;
    grid-row: 4;
}
/*End Grid Layout*/

html{
    scroll-behavior: smooth;
}

body{
    background-color:aliceblue;
}

.header{
    background-color: #f5a050;
    border-bottom: 1px solid black;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    box-shadow: 0 0 5px #333333;
}

.header img{
   width:35px;
   height:30px;
   margin-top: 10px;
   margin-right: 20px;
   float: right;   
}

.main img{                      
    display:block;
    margin: auto;
}

h1 {color:#7E11D4; 
    font-family:'robotoslab_regular',sans-serif;
    text-align: center;
    margin: auto;
    width: 50%;
}

h2{
    text-align: center;
    margin: auto;
    width: 50%;
}

h3{text-align: center;
    margin: auto;
    width: 50%;
}

blockquote{
    text-align: center;
    margin: auto;
    width: 50%;
    color: #7E11D4;
}

.main{
    font-family:'robotoslab_regular';
    justify-content: center; 
    
}

p{  margin:auto;
    width: 50%;
    font-size: 11pt;
    
}

.main p:first-child{font-weight: bold;}

.main p:first-letter{font-size: 150%;}
    p{margin-bottom: 0}
    
    p + p {text-indent: 1.5em;
            margin-top: 0}

.main ul{
    text-align: center;
    list-style-type: none;
    font-size: 12pt;
}

.main a{ 
    text-decoration: none;
    text-align: center;
    display:block;
    margin: 0 auto;
    background: #f79ac5;
    color: white;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #333333;
    margin-top: 5px;
    text-decoration: none;
}

.main a:hover{
    background: #f360a4
}

video{
    display:block;
    margin: 0 auto;
}

/*Stylings for Project Pages*/
.projects{
    display:block;
}
.projects div{
    padding-bottom: 50px;
}


.container{
    display: block;
    margin-top: 300px;
    margin-left: 450px;
    margin-right: auto;
}

.box{
    display: block;
    margin-left: 450px;
    margin-right: auto;

}

.bottom img{
    display:block;
    height: 450px;
    margin: auto;
    margin-top: 300px;
}

/*Table Styling*/

table{
    width: 900px;
    margin: 0 auto;
    background-color: white;
    margin-left: 250px;
}

caption{
    text-align: left;
}

caption{
    background-color:aliceblue;
    border-top: none;
    font-size: 16pt;
}

table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

th{
    background-color:#e7bff3;
    text-align: center;
}

td{
    text-align: center;
}

tr:nth-last-child(3){
    background-color:#e7bff3;
}

tr:nth-last-child(1){
    background-color: #e7bff3;
}

/*Contact Form Styling*/

.container2{
    height: 90vh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,.form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgba(128,128,128,0.199);
    margin-top: 5px;
}

textarea{
    resize: vertical;
}

#remaining-chars{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    text-align:right;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    color:#7e11d4;
    text-align: center;
    cursor: pointer;
    margin-top: 10px; 
}

button[type="submit"]:hover{
    background-color: rgb(152, 240, 240);
    transition: .3s ease background-color;
}


/*Scroll to top button on reflection page*/
.arrow-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.arrow-btn a{
    height: 30px;
    width: 30px;
    text-align: center;
    background: #1b1b1b;
    display: block;
    border-radius: 3px;
    cursor: pointer;
}

.arrow-btn a span{
    color: #f2f2f2;
    line-height: 30px;
    font-size: 25px;
}

/*Styles for Footer*/
.footer{
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-image: url(images/footer.jpg);
}

.footer p{
    font-family:'robotoslab_regular';
    text-align:center;
    font-size: 11pt;
    margin-top: 5px;
    color: #7e11d4;
}

.icon { 
    transition: all .4s ease-in; 
}
       
.icon:hover { 
    transform: scale(1.8); 
}


/*Media Queries Section for Tablet View*/

@media (max-width:768px) {
    
    p{
    width: 100%;
    text-align:center;
    }

    .header{
        text-align: center;
        width: 100%;
        height:50px;
    }

    .footer{
        width: 100%;
        text-align:center;
    }


    .main img{
        width: 50%;
        height: auto;
        float:left;
    }

    .bottom img{
        display: block;
        margin: auto;
        margin-top: 300px;
        width: 70%;
        
    }

    video{
        width:80%
    }

    .sidebar{
        width: 100%;
        left:-100%;
        
    }

    .container{
        display: block;
        margin-left: 150px;
        margin-right: auto;
    }

    .box{
        display: block;
        margin-left: 150px;
        margin-right: auto;
    }

    table{
        width: 80%;
        margin: 0 auto;
    }
}

/*Media Query for Mobile View*/
@media (max-width:425px) {
    

    p{
    width: 70%;
    text-align:center;
    }

    .header{
        text-align: center;
        width: 100%;
        height:60px;
    }

    .footer{
        width: 100%;
        text-align:center;
    }

    .footer p{
        width: 100%;
        text-align:center;
    }

    h3{
        width:100%;
        text-align: center;
        margin-top: 20px;

    }

    .main img{
        width: 50%;
        height: auto;
        float:left;
    }

    .bottom img{
        display: block;
        width:70%;
        margin: auto;
        margin-top: 450px;
        height: 200px;
    }

    video{
        width:90%;
    }

    .sidebar{
        width: 100%;
        left:-100%;
    }

    .container{
        display: block;
        width: 70%;
        margin-left: 25px;
        margin-right: auto;

    }

    .container2{
        height: 85vh;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 0px 20px #000000;
        background-color: #fff;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .box{
        display:block;
        width: 70%;
        margin-left: 25px;
        margin-right: auto;
    }

    table{
        width: 60%;
        margin: 0 auto;
    }
}

/*Print Media Query*/

@media print{
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .btn{
        display: none;
    }
    .sidebar{
        display: none;
    }
    
    .header{
        margin-bottom: 0;
        border: none;
        text-align: center;
    }

    .header img{
        display:none;
    }
    
    video{
        display: none;
    }

    a{
        text-decoration: none;
    }
    @page{
        margin: 1in;
    }

    

}


