body{
    background: #00AACC;
    font-family:'robotoslab'
}


h1 {color:#7e11d4;
    text-align: center;
    margin: auto;
    width: 50%;}

h2 {text-align: center;
    margin: auto;
    width: 50%;}

h3{text-align: center;
    margin: auto;
    width: 50%;}

blockquote{text-align: center;
    margin: auto;
    width: 50%;}

p{margin:auto;
    width: 50%;}

p:first-child{font-weight: bold;}

p:first-letter{font-size: 150%;}
    p{margin-bottom: 0}
    
    p + p {text-indent: 1.5em;
            margin-top: 0}

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(9, 12, 48);
    color: white;
    text-align: center;}
/*End Footer*/