/*Styles for webpage*/

*,*::before,*::after { box-sizing: border-box;}

h1 {color:#7e11d4;
    text-align: center;
    margin: auto;
    width: 50%;}

h2 {text-align: center;
    margin: auto;
    width: 50%;}

h3{text-align: center;
    margin: auto;
    width: 50%;}

blockquote{text-align: center;
    margin: auto;
    width: 50%;}



/*Paragraph*/

p{margin:auto;
    width: 50%;}

p:first-child{font-weight: bold;}

p:first-letter{font-size: 150%;}
    p{margin-bottom: 0}
    
    p + p {text-indent: 1.5em;
            margin-top: 0}


/*flex styles, added 4-20-21*/

@media screen and (min-width: 768px){
    ul{
        display: grid;
        justify-content: space-around;
    }

    ul li{
        flex: 1 1 0;
    }
}
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #ff7c00;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  
  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
  }